
@{
    ViewBag.Title = "listarLibrosPorCategoria";
}
@model IEnumerable<ShopBook.Class_DTO.LibroDTO>
<h2 class="text-center">@System.Web.HttpContext.Current.Session["nomcate"]</h2>

@*<section style="display:flex;">
    @foreach (var item in Model)
    {
        <article>
            <div>
                <img src="" class="border-danger" style="width:250px;height:250px" />
            </div>
            <div hidden><h3>@item.idLibro</h3></div>
            <h4 class="text-dark">@item.titulo.ToUpper()</h4>
            <h5>@item.autor.ToUpper()</h5>
            <h4>@item.precio.ToUpper()</h4>
            <button class="button">@Html.ActionLink("Detalle", "listLibros", "Catalogo", new { idLib = item.idLibro }, null) </button>
        </article>
    }
</section>*@
<div class="col-6 col-12-medium">
    <div class="box">
        <div class="grid_container">
            @foreach (var item in Model)
            {
                <div>
                    <span class="grid_item_lib">
                        <center>
                            <img src="@Url.Content(item.img)" class="border-danger" style="width:150px;height:200px" />
                        </center>
                        <br />
                        <b>
                            <center style="font-size:14pt;">@item.titulo.ToUpper()</center>
                            <center>@item.autor.ToUpper()</center><br />
                            <center style="font-size: 16pt; color: #dd9f14 ">S/. @item.precio.ToUpper()</center><br />
                            <center>@Html.ActionLink("Detalle", "listLibros", "Catalogo", new { idLib = item.idLibro }, new { @class = "button primary" })</center>
                        </b>
                    </span>
                </div>
            }
        </div>
    </div>
</div>
