
@{
    ViewBag.Title = "listarLibrosPorCategoria";
}
@model IEnumerable<ShopBook.Class_DTO.LibroDTO>
<h2 class="text-center">@System.Web.HttpContext.Current.Session["nomcate"]</h2>

<section style="display:flex;">
    @foreach (var item in Model)
    {
        <article>
            <div>
                <img src="" class="border-danger" style="width:250px;height:250px" />
            </div>
            <div hidden><h3>@item.idLibro</h3></div>
            <h4 class="text-dark">@item.titulo.ToUpper()</h4>
            <h5>@item.autor.ToUpper()</h5>
            <h4>@item.precio.ToUpper()</h4>
            <button class="button">@Html.ActionLink("Detalle", "listLibros", "Catalogo", new { idLib = item.idLibro }, null) </button>
        </article>
    }
</section>
